<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
        <mat-card-subtitle>{{book.volumeInfo?.authors}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{book.volumeInfo.textSnippet}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button *ngIf = '!isBookInLibrary' (click)='onBookSelected()'>SELECT</button>
        <button mat-button *ngIf = 'isBookInLibrary' (click)='onRemoveBook()'>REMOVE</button>
    </mat-card-actions>
</mat-card>